{% assign height = include.height | default: "190" | default: "list" %}
{% assign width = include.width | default: "200" | default: "list" %}

{% capture src %}https://lh3.googleusercontent.com/u/0/d/{{ include.id }}=w{{ width }}-h{{ height }}-p-k-nu-iv4{% endcapture %}

<div class="archive__item-teaser">
    <img alt="" src="{{ src }}" height="{{ height }}" width="{{ width }}">
</div>