# {{ page.title | join: ", " }}

{:style="text-align:center;"}
{% for quadrant in page.quadrants -%}
{%- capture path %}/assets/images/map/{{ quadrant }}.jpg{% endcapture -%}
![{{ quadrant }}]({{ path | relative_url }} "{{ quadrant }}"){:height="200px" width="200px" style="width:200px; height:200px; object-fit:cover; border: 1px solid #000;"}
{%- endfor %}

{{ content | remove: "<p>" | remove: "</p>"
    | replace: "[В]", "[В](# 'Восток')"
    | replace: "[З]", "[З](# 'Запад')"
    | replace: "[С]", "[С](# 'Север')"
    | replace: "[Ю]", "[Ю](# 'Юг')" }}

{{ site._toponyms }}

{%- assign lowercase = content | downcase -%}
{% for term in site.data.terms -%}
{%- capture link -%}[{{ term }}]{%- endcapture -%}
{%- if lowercase contains link -%}[{{ term }}]: /site/terms/{{ term }}{%- endif -%}
{%- endfor %}

{%- for interpretation in page.interpretations -%}
[^{{ forloop.index }}]: {{ interpretation }}
{%- endfor -%}
