# {{ page.title }}

{:style="text-align:center;"}
{% for quadrant in page.quadrants -%}
{%- capture path %}/assets/images/map/{{ quadrant }}.jpg{% endcapture -%}
![{{ quadrant }}]({{ path | relative_url }} "{{ quadrant }}"){:height="200px" width="200px" style="width:200px; height:200px; object-fit:cover; border: 1px solid #000;"}
{%- endfor %}

{% for abbreviation in site.data.abbreviations -%}
{%- for abbreviation in abbreviation -%}
{%- capture from %}⦅{{ abbreviation[0] }}⦆{% endcapture -%}
{%- capture to %}<a href="javascript:void(0)" title="{{ abbreviation[1] }}">{{ abbreviation[0] }}</a>{% endcapture -%}
{%- assign content = content | replace: from, to -%}
{%- endfor -%}
{%- endfor %}

{% for toponym in site.toponyms -%}
{%- assign from = toponym | remove: "⟦" | remove: "⟧" -%}
{%- capture to %}<a href="" title="{{ toponym }}">{{ toponym }}</a>{% endcapture -%}
{%- assign content = content | replace: from, to -%}
{%- endfor %}

{{ content }}

{%- assign lowercase = content | downcase -%}
{% for term in site.data.terms -%}
term:{{ term }}
{%- capture link -%}[{{ term }}]{%- endcapture -%}
{%- if lowercase contains link -%}[{{ term }}]: /site/terms/{{ term }}{%- endif -%}
{%- endfor %}

{%- for interpretation in page.interpretations -%}
[^{{ forloop.index }}]: {{ interpretation }}
{%- endfor -%}
