{% comment %}<!-- Abbreviations -->{% endcomment %}
{% for abbreviation in site.data.abbreviations -%}
{%- for abbreviation in abbreviation -%}
{%- capture from %}⦅{{ abbreviation[0] }}⦆{% endcapture -%}
{%- capture to %}<span title="{{ abbreviation[1] }}">{{ abbreviation[0] }}</span>{% endcapture -%}
{%- assign content = content | replace: from, to -%}
{%- capture from %}⦅{{ abbreviation[0] | capitalize }}⦆{% endcapture -%}
{%- assign content = content | replace: from, to -%}
{%- endfor -%}
{%- endfor %}

{% comment %}<!-- Terms -->{% endcomment %}
{% for term in site.terms -%}
{%- capture from %}⟦{{ term.title }}⟧{% endcapture -%}
{%- capture to %}<a href="/site/terms/{{ term.title }}" title="{{ term.title }}">{{ term.title }}</a>{% endcapture -%}
{%- assign content = content | replace: from, to -%}
{%- endfor %}

{{ content }}

{%- assign lowercase = content | downcase -%}
{% for term in site.data.terms -%}
term:{{ term }}
{%- capture link -%}[{{ term }}]{%- endcapture -%}
{%- if lowercase contains link -%}[{{ term }}]: /site/terms/{{ term }}{%- endif -%}
{%- endfor %}

{%- for interpretation in page.interpretations -%}
[^{{ forloop.index }}]: {{ interpretation }}
{%- endfor -%}
